<div class="container">
    <form method="post" action="/course/store">
        <div class="mb-3">
            <label for="name" class="form-label">Tên khóa học</label>
            <input name="_name" type="text" class="form-control" id="name" aria-describedby="emailHelp">          
        </div>

        <div class="mb-3">
            <label for="desc" class="form-label">Mô tả</label>
            <input name="_description" type="text" class="form-control" id="desc" aria-describedby="emailHelp">          
        </div>

        
        <div class="mb-3">
            <label for="idvideo" class="form-label">id video</label>
            <input name="_video" type="text" class="form-control" id="idvideo" aria-describedby="emailHelp">          
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>